
<!-- <div class="card">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="#fff" animationDuration=".5s"></p-progressSpinner>
</div> -->


<!-- 
<div class="progress-spinner">
    <div class="progress-spinner-container">
        <p-progressSpinner styleClass="custom-spinner" styleClass="w-4rem h-4rem" strokeWidth="5" stroke="#fff" fill="transparent" [style]="{width: '50px', height: '50px'}" animationDuration="1s"></p-progressSpinner>
     </div>
</div> -->

<div  class="loader-container">
    <div class="loader"></div>
  </div>